@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-one: 'Old Standart TT';
    --font-two: 'Libre Baskerville';
    --font-three: 'Lora';
    --cursor-main: url('/yellow-1.ico') 0 0, auto;
    --cursor-points: url('/yellow-2.ico') 0 0, pointer;
    --cursor-dark: url('/pink-1.ico') 0 0, auto;
    --cursor-dark-points: url('/pink-2.ico') 0 0, auto;
}

body {
    cursor: var(--cursor-main);
}

.dark body {
  cursor: var(--cursor-dark);
}
